
<%= render 'layouts/navigation' %>
<h2 class="title" align="center">Welcome Home <%= @user.username.titleize %> !</h2>

<%= render 'shared/errors', obj: @memo %>

 
<%= render 'memos/form' %>
<%= render 'layouts/messages' %>


<% @memos.each do |memo| %>
  <div class="memos-wrapper">
    <div class="col-md-2 memo-box">
      <div class="memo-title">
            <p class="memo-title-content" align="center"> <%= link_to truncate(memo.title.titleize, length:20), memo.url, :target => "_blank" %>
            <img height="20" width="20" src='http://www.google.com/s2/favicons?domain=<%= memo.url %>'/></p>
      </div>
      
     <!-- <div class="memo-thumb">
        
          <embed   src="<%#= memo.url %>" width = 100%  > </embed>
        </body>  
      </div>-->
       
      <div class="memo-url">
            <p align="center"><%= link_to truncate(memo.url, length:15), memo.url, :target => "_blank" %></p>
      </div>
      <div class="memo-actions">
                    <%= link_to image_tag("pencil.png", class: "action"), edit_memo_path(memo)   %>
                     <%= link_to image_tag("trash.png", class: "action"), memo_path(memo), method: :delete,
                                                        data:{confirm: "Are you sure you want to delete this article?"} %>
                    
      </div>
    </div>
  </div> 
  
      
<% end %>
 